#* @implicitly included *#
#* @vtlvariable name="var0" type="java.lang.String" *#
#* @vtlvariable name="var1" type="java.lang.String" *#
#* @vtlvariable name="var2" type="java.lang.String" *#
#* @vtlvariable name="var3" type="java.lang.String" *#
#* @vtlvariable name="var4" type="java.lang.String" *#
#* @vtlvariable name="var5" type="java.lang.String" *#
#* @vtlvariable name="metafactory" type="com.metafactory.api.IMetaFactoryTemplateEngineProxy" *#
#* @vtlvariable name="generator" type="com.metafactory.api.IMetaFactoryTemplateEngineProxy" *#
#* @vtlvariable name="context" type="com.metafactory.api.IContextProxy" *#
#* @vtlvariable name="packagePattern" type="com.metafactory.api.ci.java.JavaCiForPackage" *#
#* @vtlvariable name="classPattern" type="com.metafactory.api.ci.java.JavaCiForClass" *#
#* @vtlvariable name="interfacePattern" type="com.metafactory.api.ci.java.JavaCiForInterface" *#
#* @vtlvariable name="attributePattern" type="com.metafactory.api.ci.java.JavaCiForAttribute" *#
#* @vtlvariable name="operationPattern" type="com.metafactory.api.ci.java.JavaCiForOperation" *#
#* @vtlvariable name="comparatorFactory" type="com.metafactory.api.IComparatorFactory" *#
#* @vtlvariable name="genpack" type="java.lang.String" *#
#* @vtlvariable name="genpackpath" type="java.lang.String" *#
#* @vtlvariable name="foreachPackage" type="java.lang.Boolean" *#
#* @vtlvariable name="foreachObject" type="java.lang.Boolean" *#
#* @vtlvariable name="foreachAttribute" type="java.lang.Boolean" *#
#* @vtlvariable name="foreachReference" type="java.lang.Boolean" *#
#* @vtlvariable name="foreachOperation" type="java.lang.Boolean" *#
#* @vtlvariable name="forEachPropertyValue" type="java.lang.String" *#
#* @vtlvariable name="generatedPackage" type="com.metafactory.api.pattern.JavaAstPackage" *#
#* @vtlvariable name="generatedInterface" type="com.metafactory.api.pattern.JavaAstInterface" *#
#* @vtlvariable name="generatedClass" type="com.metafactory.api.pattern.JavaAstClass" *#
#* @vtlvariable name="generatedAttribute" type="com.metafactory.api.pattern.JavaAstAttribute" *#
#* @vtlvariable name="generatedOperation" type="com.metafactory.api.pattern.JavaAstOperation" *#
#* @vtlvariable name="javaFactory" type="com.metafactory.api.pattern.JavaFactory" *#
#* @vtlvariable name="modelProperties" type="java.util.Properties" *#
#* @vtlvariable name="modelAttributeProperties" type="java.util.Properties" *#
#* @vtlvariable name="modelOperationProperties" type="java.util.Properties" *#
#* @vtlvariable name="modelReferenceProperties" type="java.util.Properties" *#
#* @vtlvariable name="byte" type="java.lang.Byte" *#
#* @vtlvariable name="short" type="java.lang.Short" *#
#* @vtlvariable name="integer" type="java.lang.Integer" *#
#* @vtlvariable name="long" type="java.lang.Long" *#
#* @vtlvariable name="float" type="java.lang.Float" *#
#* @vtlvariable name="double" type="java.lang.Double" *#
#* @vtlvariable name="bigdecimal" type="java.math.BigDecimal" *#
#* @vtlvariable name="biginteger" type="java.math.BigInteger" *#
#* @vtlvariable name="stringUtils" type="org.apache.commons.lang3.StringUtils" *#
#* @vtlvariable name="dollar" type="java.lang.String" *#
#* @vtlvariable name="hash" type="java.lang.String" *#

#* @vtlvariable name="model" type="com.metafactory.api.model.ModelRoot" *#
#* @vtlvariable name="modelPackage" type="com.metafactory.api.model.ModelPackage" *#
#* @vtlvariable name="modelObject" type="com.metafactory.api.model.ModelObject" *#
#* @vtlvariable name="modelAttribute" type="com.metafactory.api.model.ModelAttribute" *#
#* @vtlvariable name="modelReference" type="com.metafactory.api.model.ModelReference" *#
#* @vtlvariable name="previousPackage" type="com.metafactory.api.model.ModelPackage" *#
#* @vtlvariable name="previousObject" type="com.metafactory.api.model.ModelObject" *#
