#* @implicitly included *#
#* @vtlvariable name="var0" type="java.lang.String" *#
#* @vtlvariable name="var1" type="java.lang.String" *#
#* @vtlvariable name="var2" type="java.lang.String" *#
#* @vtlvariable name="var3" type="java.lang.String" *#
#* @vtlvariable name="var4" type="java.lang.String" *#
#* @vtlvariable name="var5" type="java.lang.String" *#
#* @vtlvariable name="metafactory" type="com.metafactory.api.IMetaFactoryTemplateEngineProxy" *#
#* @vtlvariable name="generator" type="com.metafactory.api.IMetaFactoryTemplateEngineProxy" *#
#* @vtlvariable name="context" type="com.metafactory.api.IContextProxy" *#
#* @vtlvariable name="nsModel" type="org.jdom2.Namespace" *#
#* @vtlvariable name="nsPattern" type="org.jdom2.Namespace" *#
#* @vtlvariable name="packagePattern" type="org.jdom2.Element" *#
#* @vtlvariable name="classPattern" type="org.jdom2.Element" *#
#* @vtlvariable name="interfacePattern" type="org.jdom2.Element" *#
#* @vtlvariable name="attributePattern" type="org.jdom2.Element" *#
#* @vtlvariable name="operationPattern" type="org.jdom2.Element" *#
#* @vtlvariable name="comparatorFactory" type="com.metafactory.api.IComparatorFactory" *#
#* @vtlvariable name="genpack" type="java.lang.String" *#
#* @vtlvariable name="genpackpath" type="java.lang.String" *#
#* @vtlvariable name="foreachPackage" type="java.lang.Boolean" *#
#* @vtlvariable name="foreachObject" type="java.lang.Boolean" *#
#* @vtlvariable name="foreachAttribute" type="java.lang.Boolean" *#
#* @vtlvariable name="foreachReference" type="java.lang.Boolean" *#
#* @vtlvariable name="foreachOperation" type="java.lang.Boolean" *#
#* @vtlvariable name="forEachPropertyValue" type="java.lang.String" *#
#* @vtlvariable name="generatedPackage" type="org.sxmi.wrapper.api.IXMIPackage" *#
#* @vtlvariable name="generatedInterface" type="org.sxmi.wrapper.api.IXMIInterface" *#
#* @vtlvariable name="generatedClass" type="org.sxmi.wrapper.api.IXMIClass" *#
#* @vtlvariable name="generatedAttribute" type="org.sxmi.wrapper.api.IXMIAttribute" *#
#* @vtlvariable name="generatedOperation" type="org.sxmi.wrapper.api.IXMIOperation" *#
#* @vtlvariable name="sxmiFactory" type="org.sxmi.wrapper.api.IXMIFactory" *#
#* @vtlvariable name="modelProperties" type="java.util.Properties" *#
#* @vtlvariable name="modelAttributeProperties" type="java.util.Properties" *#
#* @vtlvariable name="modelOperationProperties" type="java.util.Properties" *#
#* @vtlvariable name="modelReferenceProperties" type="java.util.Properties" *#
#* @vtlvariable name="byte" type="java.lang.Byte" *#
#* @vtlvariable name="short" type="java.lang.Short" *#
#* @vtlvariable name="integer" type="java.lang.Integer" *#
#* @vtlvariable name="long" type="java.lang.Long" *#
#* @vtlvariable name="float" type="java.lang.Float" *#
#* @vtlvariable name="double" type="java.lang.Double" *#
#* @vtlvariable name="bigdecimal" type="java.math.BigDecimal" *#
#* @vtlvariable name="biginteger" type="java.math.BigInteger" *#
#* @vtlvariable name="stringUtils" type="org.apache.commons.lang.StringUtils" *#
#* @vtlvariable name="dollar" type="java.lang.String" *#
#* @vtlvariable name="hash" type="java.lang.String" *#

#* @vtlvariable name="model" type="com.metafactory.api.model.ModelRoot" *#
#* @vtlvariable name="modelPackage" type="com.metafactory.api.model.ModelPackage" *#
#* @vtlvariable name="modelObject" type="com.metafactory.api.model.ModelObject" *#
#* @vtlvariable name="modelAttribute" type="com.metafactory.api.model.ModelAttribute" *#
#* @vtlvariable name="modelReference" type="com.metafactory.api.model.ModelReference" *#
#* @vtlvariable name="previousPackage" type="com.metafactory.api.model.ModelPackage" *#
#* @vtlvariable name="previousObject" type="com.metafactory.api.model.ModelObject" *#
